@import url('reset.css');
@import url('font.css');
*{
    font-family: 'Jost', sans-serif;
}
h3{
    color: white;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #D2D0D3;
    width: 100%;
}
.display{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.screen1{
    width: 1425px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.screen2{
    width: 1425px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.screen3{
    width: 1425px;
    display: flex;  
    overflow: hidden;
}
.block1{
    width: 1425px;
    display: flex;
    flex-direction: row;
}
.logo{
    display: flex;
    width: 303px;
    height: 286px;
    background: black;
    align-items: center;
    justify-content: center;
}
.loading-bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 286px;
    background-image: url('../assets/images/Man.png');
    gap: 186px;
    align-items: center;
}
.dots-col{
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.dots-row{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.dots{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: black;
    animation: change-color 3s ease infinite;
}
.loading{
    display: flex;
    width: 460px;
    height: 62px;
    border-radius: 12px;
    background: black;
    h3{
        padding-left: 149px;
        font-size: 40px;
        color: black
    }
    .process{
    background-color: #DBC11C;
    width: 0px;
    height: 62px;
    border-radius: 12px;
    animation: process 2s ease infinite;
    }
}
@keyframes process{
    from{
        width: 0px;
    }
    to{
        width: 460px;
    }
}
@keyframes change-color{
    from{
        background: black;
    }
    50%{
        background:#DBC11C;
    }
    to{
        background: black;
    }
}
@keyframes logo{
    form{
        transform: scale();
    }
    50%{
        transform: scale(1.1);
    }
    to{
        transform: scale();
    }
}
.strip1{
    display: flex;
    background: black;
    height: 72px;
    gap: 9px;
    align-items: center;
    h3{
        font-size: 40px;
        font-style: italic;
        color: white;
        animation: strip1 2s ease infinite;
    }
}
@keyframes strip1{
    from{
        transform: translateX();
    }
    50%{
        transform: translateX(200px);
    }
    to{
        transform: translateX();
    }
}
.block2{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 407px;
    background-color: #252525;
    background-image: url(../assets/images/Background1.svg);
    gap: 57px;
    align-items: center;
    justify-content: center;
}
.block-quote{
    display: flex;
    flex-direction: column;
    width: 228px;
    height: 314px;
    background-color: black;
    border-radius: 20px;
    cursor: pointer;
    p{
        font-size: 10px;
        color: white;
        padding-left: 45px;
        padding-top: 101px;
    }
    h3{
        width: 220px;
        padding-left: 45px;
        font-size: 16px;
        color: white;
        font-style: italic;
    }
}
.mobile-block-quote{
    display: none;
}
.block-quote:hover{
    animation: block-quotes 0.5s ease-in-out forwards;
}
@keyframes block-quotes{
    from{
        transform: scale() rotate();
    }
    to{
        transform: scale(1.2) rotate(360deg);
        background: darkred;
    }
}
.strip2{
    display: flex;
    background:#DBC11C;
    height: 72px;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    h3{
        font-size: 40px;
        font-style: italic;
        color: black;
        animation: strip2 2s ease infinite;
    }
}
@keyframes strip2{
    from{
        transform: translateX();
    }
    50%{
        transform: translateX(-200px);
    }
    to{
        transform: translateX();
    }
}
.block3{
    display: flex;
    flex-direction: column;
    background-color:#252525;
    width: 475px;
    height: 693px;
    background-image: url(../assets/images/bg\ block3.png);
}
.rect-container1{
    display: flex;
    flex-direction: row;
    gap: 14px;
    justify-content: center;
}
.rect1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 160px;
    background: linear-gradient(to top, #DBC11C, red);
    animation: rect1 1s ease infinite;
    h3{
        font-size: 40px;
    }
}
.rect2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 160px;
    background: linear-gradient(to top, #DBC11C, red);
    animation: rect2 1s ease infinite;
    h3{
        font-size: 40px;
    }
}
.rect3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 160px;
    background: linear-gradient(to top, #DBC11C, red);
    animation: rect3 1s ease infinite;
    h3{
        font-size: 40px;
    }
}
.title2{
    display: flex;
    justify-content: center;
    h3{
        font-size: 48px;
        color: white;
    }
}
@keyframes rect1{
    from{

    }
    50%{
        height:400px;
    }
    to{
        height: 160px;
    }
}
@keyframes rect2{
    from{

    }
    50%{
        height:500px;
    }
    to{
        height: 160px;
    }
}
@keyframes rect3{
    from{

    }
    50%{
        height:600px;
    }
    to{
        height: 160px;
    }
}
.block4{
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #161616;
    width: 505px;
    height: 693px;
}
.basket{
    animation: basket 4s ease-in-out infinite;
}
@keyframes basket{
    from{
        transform: translateX();
    }
    25%{
        transform: translateX(40px);
    }
    50%{
        transform: translateX();
    }
    75%{
        transform:translateX(-40px);
    }
    100%{
        transform: translateX();
    }
}
.ball{
    position: absolute;
    top: -80px;
    animation: ball 1s ease infinite;
}
@keyframes ball{
    from{
        transform: translateY();
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    70%{
        opacity: 0;
    }
    to{
        transform: translateY(600px);
        opacity: 0;
    }
}
.block5{
    display: flex;
    position: relative;
    flex-direction: row;
    overflow: hidden;
    background-color: #DBC11C;
    gap: 240px;
    width: 505px;
    height: 693px;
}
.block5-title{
    display: flex;
    flex-direction: column;
    padding-top: 52px;
    padding-left: 31px;
    gap: 0px;
    h3{
        color: white;
        font-size: 64px;
        font-style: italic;
    }
    p{
        color: red;
        font-size: 40px;
        font-style: italic;
        font-weight: bold;
    }
}
.block5-strip1{
    position: absolute;
    top: 150px;
    left: -220px;
    width: 1000px;
    height: 43px;
    background-color: black;
    transform: rotate(-51deg);
}
.sport{
    display: flex;
    transform: rotate(-51deg);
    h3{
        color: white;
        font-size: 64px;
        animation: sport 1s ease infinite; 
    }
}
.block5-strip2{
    position: absolute;
    top: 360px;
    left: -220px;
    width: 1000px;
    height: 43px;
    background-color: black;
    transform: rotate(-51deg);
}
.arrow{
    position: absolute;
    transform: scale(0.7);
    top: 510px;
    animation: arrow 1s ease infinite;
}
@keyframes arrow{
    from{
        top: 510px;
        left: 0px;
    }
    to{
        top: 0px;
        left: 410px;
    }
}
@keyframes sport{
    from{
        color: white;
    }
    30%{
        color: white;
    }
    to{
        color: red;
    }
}
.screen4{
    width: 1425px;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    background: #252525;
}
.strip3{
    display: flex;
    flex-direction: row;
    width: 2000px;
    overflow: hidden;
    background: red;
    height: 72px;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
     h3{
        opacity: 1;
        font-size: 40px;
        font-style: italic;
        color: black;
        animation: strip3 2s infinite;
    }
}
@keyframes strip3{
   from{
        transform: translateX();
    }
    50%{
        transform: translateX(200px);
    }
    to{
        transform: translateX();
    }
}
.sub-screen4{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1425px;
    height: 525px;
    background-image: url(../assets/images/Background\ last.svg), url(../assets/images/bg\ dots.png);
     
}
.redHand{
    position: absolute;
    left: -8px;
}
.redLighter{
    z-index: 2;
    position: absolute;
    left: 32px;
    top: 90px;
    animation: redLighter 4s ease-in-out infinite;
}
.redLight{
    z-index: -1;
    opacity: 0;
    position: absolute;
    top: 100px;
    left: 120px;
    animation: redLight 2s infinite;
}
@keyframes redLighter{
    from{
        transform: rotate();
    }
    50%{
        left: 15px;
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(-7deg);
    }
}
@keyframes redLight{
    from{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.yellowHand{
    position: absolute;
    right: 0px;
}
.yellowLighter{
    z-index: 2;
    position: absolute;
    right: 32px;
    top: 90px;
    animation: yellowLighter 4s ease-in-out infinite;
}
.yellowLight{
    z-index: -1;
    opacity: 0;
    position: absolute;
    top: 100px;
    right: 120px;
    animation: yellowLight 2s infinite;
}
@keyframes yellowLighter{
    from{
        transform: rotate();
    }
    50%{
        right: 15px;
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(7deg);
    }
}
@keyframes yellowLight{
    from{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.footer{
    z-index: 3;
    width: 1425px;
    height: 241px;
    background: black;
    display: flex;
    flex-direction: row;
    padding-top: 52px;
    padding-left: 46px;
    padding-right: 46px;
    padding-bottom: 52px;
}
.footer-text{
    display: flex;
    justify-content: space-between;
    gap: 173px;
    h4{
        color: white;
        font-size: 40px;
    }
    h3{
        color: white;
        font-size: 48px;
    }
}
/* АДАПТИВЫ */
/*1920x1080*/
@media(min-width: 1441px) and (max-width: 1920px){
body{
    width: 100%
}
.screen1{
    width: 1920px;
}
.screen2{
    width: 1920px;
}
.screen3{
    width: 1920px;
}
.screen4{
    width: 1920px;
}
.sub-screen4{
    width: 1920px;
    background-size: 110%;
}
.footer{
    width: 1920px;
}
.strip1{
    justify-content: center;
}
.strip2{
    justify-content: center;
}
.strip3{
    justify-content: center;
}
.loading-bar{
    justify-content: center;
    background-size: 120%;
}
.block1{
    width: 100%;
}
.block3{
    width: 640px;
}
.block4{
    width: 640px;
}
.block5{
    width: 640px;
}
.rect1, .rect2, .rect3{
    width: 70px;
}
}
/*1280x800*/
@media(max-width: 1280px){
body{
    width: 100%
}
.screen1{
    width: 1280px;
}
.screen2{
    width: 1280px;
}
.screen3{
    width: 1280px;
}
.screen4{
    width: 1280px;
}
.sub-screen4{
    width: 1280px;
    background-size: 110%;
}
.footer{
    width: 1280px;
}
.strip1{
    justify-content: center;
}
.strip2{
    justify-content: center;
}
.strip3{
    
}
.loading-bar{
    background-size: 110%;
    gap: 150px;
}
.block1{
    width: 100%;
}
.block2{
    gap: 20px;
}
.block3{
    width: 426px;
}
.block4{
    width: 426px;
}
.block5{
    width: 426px;
}
.rect1, .rect2, .rect3{
    width: 45px;
}
.footer-text{
    h3{
        font-size: 45px;
    }
}

}
/*768x1024*/
@media(max-width: 768px){
body{
    width: 100%
}
.screen1{
    width: 768px;  
}
.screen2{
    width: 768px;
}
.screen3{
    width: 768px;
}
.screen4{
    width: 768px;
}
.sub-screen4{
    width: 768px;
    background-size: 110%;
}
.footer{
    width: 768px;
}
.strip1{
    justify-content: center;
}
.strip2{
    justify-content: center;
}
.strip3{
    
}
.loading-bar{
    justify-content: center;
    background-size: 150%;
    gap: 5px;
}
.block1{
    width: 100%;
}
.block2{
    gap: 20px;
}
.block-quote{
    display: none;
}
.mobile-block-quote{
    display: inherit;
    display: flex;
    flex-direction: column;
    width: 228px;
    height: 314px;
    background-color: black;
    border-radius: 20px;    
    cursor: pointer;
    p{
        font-size: 10px;
        color: white;
        padding-left: 45px;
        padding-top: 101px;
    }
    h3{
        width: 220px;
        padding-left: 45px;
        font-size: 16px;
        color: white;
        font-style: italic;
    }
}
.mobile-block-quote:target{
    animation: block-quotes 0.5s ease-in-out forwards; 
}
.block3{
    width: 256px;
}
.block4{
    width: 256px;
}
.block5{
    width: 256px;
}
.rect1, .rect2, .rect3{
    width: 20px;
    h3{
        font-size: 20px;
    }
}
.basket{
    transform: scale(0.5);
}
.ball{
    transform: scale(0.5);
}
@keyframes basket{
    from{
        transform: scale(0.5) translateX();
    }
    25%{
        transform:  scale(0.5) translateX(40px);
    }
    50%{
        transform:  scale(0.5) translateX();
    }
    75%{
        transform: scale(0.5) translateX(-40px);
    }
    100%{
        transform: scale(0.5) translateX();
    }
}
@keyframes ball{
    from{
        transform:scale(0.5) translateY();
        opacity: 0;

    }
    30%{
        opacity: 1;
    }
    70%{
        opacity: 0;
    }
    to{
        transform:scale(0.5) translateY(1200px);
        opacity: 0;
    }
}
.footer-text{
    gap: 20px;
    h3{
        font-size: 30px;
    }
    h4{
        font-size: 20px;
    }
}
}







